{% extends "base.twig" %}
{% block head %}
    <title>MyWishlist : Dashboard</title>
{% endblock head %}

{% block body %}
    {% include 'navbar.twig' %}
    <div class="boxWrapper animate__animated animate__fadeIn">
        <h1>Liste de {{ auth.getUsername }}</h1>
        {% for list in lists %}
            <div class="boxWrapper animate__animated animate__fadeIn">
                <h1>{{ list.titre }}</h1>
                <div class="schedule">
                    <h2>{{ list.description }}</h2>
                    <p> Date d'expiration : {{ list.expiration }}</p>
                </div>
                <div class="flexHorizontal flexAlignCenter flexJustify">
                    <button id="copylink_{{ list.token }}" class="normalButton"
                            onclick="CopiLink('{{ path_for('liste', {token: list.token}) }}', 'copylink_{{ list.token }}')">
                        Copier lien
                    </button>
                    <button type="button" class="normalButton"
                            onclick="location.href='{{ path_for('liste', {token: list.token}) }}'">
                        Voir la liste
                    </button>
                    <button type="button" class="normalButton"
                            onclick="location.href='{{ path_for('liste', {token: list.token}) }}'">
                        Modifier la liste
                    </button>
                </div>
            </div>
        {% endfor %}
    </div>
    <script src="/resources/javascript/CopiLink.js"></script>
{% endblock body %}
