{% extends 'base.twig' %}
{% block head %}
    <title>MyWishlist : {{ item.nom }}</title>
{% endblock head %}

{% block body %}
    {% if isSigned %}
        {% include 'navbar.twig' %}
    {% else %}
        {% include 'headernotsigned.twig' %}
    {% endif %}

    <div class="boxWrapper flexHorizontal animate__animated animate__fadeIn animate__delay-1s">
        <div class="flex1 flexVertical">
            <div class="flex05">

                <a class="cleanA hoverHand" href="{{ item.url }}"><h2>{{ item.nom }}</h2></a>
                <p>{{ item.descr }}</p>
                <p>Tarif : {{ item.tarif }}€</p>
            </div>
            <div class="flex1">
                {% if item.message != "" %}
                    {% if estProprietaire == false or liste.isExpired %}
                        <h3>Message :</h3>
                        {% if auth.isSigned %}
                            <p style="margin: 1em 3em;text-align: center;">{{ item.message }}</p>
                        {% else %}
                            <p style="margin: 1em 3em;text-align: center; color: grey; font-style: italic">Vous devez vous identifier pour voir le message</p>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
            <div>
                {% if estProprietaire == false %}
                    <p style="padding: 1em;"> {{ auth.translateItemReserve(item.reserve) }}</p>
                {% elseif liste.isExpired %}
                    <p style="padding: 1em;"> {{ auth.translateItemReserve(item.reserve, true) }} </p>
                {% endif %}
            </div>
            <div>
                {% if estProprietaire == false and not liste.isExpired and not item.reserve %}
                    <a class="normalButton" href="{{ path_for('reservation', {token: liste.token, item: item.id}) }}">Réserver
                        ce cadeau</a>
                {% elseif estProprietaire == false and not liste.isExpired and item.reserve == auth.getUserId %}
                    <a class="dangerButton" style="padding: 8px" href="{{ path_for('noreservation', {token: liste.token, item: item.id}) }}">Ne plus réserver
                        ce cadeau</a>
                {% endif %}
            </div>
            <div>
                {%  if estProprietaire == true %}
                    <a class="normalButton" href="{{ path_for('supprimerItem', {token:liste.token, item:item.id}) }}">Supprimer
                        ce cadeau</a>
                {% endif %}
            </div>


        </div>
        {% if item.img %}
        <img class="imageDetailItem" src="{{ base_url() }}/resources/images/{{ item.img }}" alt="<Image de {{ item.nom }}>">
        {% else %}
        <img class="imageDetailItem" src="https://image.freepik.com/free-vector/christmas-new-year-s-day-red-gift-box-white-background-illustration_164911-157.jpg" alt="<Image de {{ item.nom }}>">
        {% endif %}
    </div>
{% endblock body %}