{% extends 'base.twig' %}
{% block head %}
    <title>MyWishlist : {{ titreListe }}</title>
{% endblock head %}

{% block body %}

    {% if isSigned %}
        {% include 'navbar.twig' %}
    {% else %}
        {% include 'headernotsigned.twig' %}
    {% endif %}

    <div class="boxWrapper animate__animated animate__fadeIn animate__delay-1s">
        <h1>{{ titreListe }}</h1>
        <p>{{ descriptionListe }}</p>
    </div>
    <div class="boxWrapper animate__animated animate__fadeIn animate__delay-1s">
        {% for item in itemsListe %}
            <a class="cleanA" href="{{ tokenliste }}/{{ item.id }}">
            <div class="schedule collapsible">
                <img class="imageListeItem" src="/resources/images/{{ item.img }}" alt="<Image de {{ item.nom }}>">
                <h2 class="setWidthTo15em">{{ item.nom }}</h2>
                {% if estProprietaire == false %}
                    <p class="setWidthTo15em">{{ auth.translateItemReserve(item.reserve) }}</p>
                {% endif %}
            </div>
            </a>
        {% endfor %}
    </div>
{% endblock body %}