{% extends 'base.twig' %}
{% block head %}
    <title>MyWishlist : {{ titreListe }}</title>
{% endblock head %}

{% block body %}

    {% if isSigned %}
        {% include 'navbar.twig' %}
    {% else %}
        <h1 class="bigTitle">MyWishlist</h1>
        <div id="navBarList" class="resizeText setTopMargin" style="--new-font-size: 25px; --new-top-margin: -60px">
            <a class="navBarElement" href="{{ path_for('login') }}">Se connecter</a>
            <a class="navBarElement" href="{{ path_for('login') }}">Créer un compte</a>
        </div>
    {% endif %}

    <div class="boxWrapper animate__animated animate__fadeIn animate__delay-1s">
        <h1>{{ titreListe }}</h1>
        <p>{{ descriptionListe }}</p>
    </div>
    <div class="boxWrapper animate__animated animate__fadeIn animate__delay-1s">
        {% for item in itemsListe %}
            <div class="schedule">
                <img class="imageListeItem" src="/resources/images/{{ item.img }}" alt="<Image de {{ item.nom }}>">
                <p>{{ item.nom }}</p>
                {% if estProprietaire == false %}
                    <p>{{ auth.translateItemReserve(item.reserve) }}</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock body %}